{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="page-header">
        <h1>About</h1>
    </div>

    {% if message %}
      {{ message }}
    {% else %}
      <p>Conveniently save your records for solving your puzzles.
        Save your times, access them anywhere, and keep track of your progress over time.</p>
    {% endif %}

    {% if form %}
      <br>
      <div id="feedback">
        <h3>Feedback</h3>
        <form action="/about/" method="post">
          {% csrf_token %}
            {% for field in form %}
              <div class="row">
                <div class="col-md-4">{{ field.label }}</div>
                <div class="col-md-8">{{ field }}</div>
              </div>
            {% endfor %}
            <div class="row">
              <div class="col-lg-12">
                <input type="submit" value="submit"/>
              </div>
            </div>
        </form>
      </div>
    {% endif %}


    <hr><br>
    <p>
      Made with &#x2665 by
      <a href="https://github.com/browncj" target="_blank">
        Chris
      </a>
    </p>
    <p>
      <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangoproject120x25.gif" border="0" alt="A Django project." title="A Django project." /></a>
    </p>
{% endblock %}

{% block scripts %}
    <script src="{% static 'about/scripts.js' %}"></script>
{% endblock %}
