{% extends 'base.html' %}
{% load static %}

{% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'timer/styles.css' %}"/>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Track times</h1>
    </div>

    <div class="container">

      <div class="row">
        <div id="stop-container" class="col-md-12">
          <p id="stopwatch"><span id="minutes"></span>:<span id="seconds"></span>:<span id="centiseconds"></span></p>
          <p class="scramble text-center">
            U D L D U D D D' U D L D U D D D' U D L D U D D D'
          </p>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-4 text-center">
          <button class="btn btn-default btn-lg btn-block timer-control" id="start">Start</button>
        </div>
        <div class="col-md-4 text-center">
          <button class="btn btn-default btn-lg btn-block timer-control" id="stop">Stop</button>
        </div>
        <div class="col-lg-4 text-center">
          <button class="btn btn-default btn-lg btn-block timer-control" id="reset">Reset</button>
        </div>
      </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'timer/scripts.js' %}"></script>
{% endblock %}
