{% extends 'base.html' %}
{% load static %}

{% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'timer/styles.css' %}"/>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Track times</h1>
    </div>

    <div class="container">

      <div class="row">
        <div id="stop-container" class="col-md-12">
          {# default time prevents page from jumping #}
          <p id="stopwatch"><span id="time">00:00:00</span></p>
          <p class="scramble text-center">
            U D L D U D D D' U D L D U D D D' U D L D U D D D'
          </p>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-12 text-center">
          <button id="main" class="btn btn-primary btn-block btn-lg">Start</button>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Instructions</h3>
            </div>
            <div class="panel-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Times</div>
            <div class="panel-body">
              <button id="save" class="btn btn-success" type="submit">Save</button>
              <button id="delete" class="btn btn-danger" type="submit">Delete</button>
            </div>
            <div id="times-list" class="list-group">
            </div>
          </div>
        </div>
      </div>

    </div>
{% endblock %}

{% block scripts %}
    {% csrf_token %}
    <script src="{% static 'timer/scripts.js' %}"></script>
{% endblock %}
