{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
  <link rel="stylesheet" href="{% static 'track/tables.css' %}" />
{% endblock %}


{% block content %}
    <div class="page-header">
        <h1>Table view</h1>
    </div>

    {% if empty %}
      <p>You have not completed any solves!</p>
    {% else %}
      {% render_table table %}
    {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'track/scripts.js' %}"></script>
  <script src="{% static 'track/tables.js' %}"></script>
{% endblock %}
