{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="page-header">
        <h1>Community</h1>
    </div>

    <p>Community features coming soon...in the meantime, enjoy Reddit</p>
    <div>
        <script src="https://www.reddit.com/r/cubers/hot/.embed?limit=10&t=all" type="text/javascript"></script>
    </div>
    <p style="font-size:9">We take no responsibility for any of the above content</p>
{% endblock %}

{% block scripts %}
    <script src="{% static 'community/scripts.js' %}"></script>
{% endblock %}
